*.iml
.gradle
./idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/gradle.xml
/.encodings.xml
/.idea/vcs.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

.gradle
.gradle/
build/


# Android Studio
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*.swp

captures/


*.apk
*.ap_
*.aab
output.json

*.dex
*.class
*.log

/android-sdk.zip
/android-studio
.externalNativeBuild

bin/
gen/
out/